# Domain Kontrol ve G羹ncelleme Workflowu

name: Otomatik Domain Kontrol羹 ve G羹ncelleme

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */12 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_and_update_domains:
    runs-on: ubuntu-latest

    permissions:
      contents: write 
      pull-requests: write 

    steps:
      - name: Depoyu Checkout Et
        uses: actions/checkout@v4
        with:
           token: ${{ secrets.GITHUB_TOKEN }}

      - name: Python Kurulumu
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Ba覺ml覺l覺klar覺 Y羹kle
        run: |
          python -m pip install --upgrade pip
          pip install cloudscraper

      - name: URL Kontrol ve G羹ncelleme Betiini al覺t覺r
        id: run_checker
        run: |
          python url_kontrol.py

      - name: Deiiklikleri Kontrol Et
        id: check_changes
        run: |
          # Eer git diff bir deiiklik bulursa (癟覺k覺 kodu 0'dan farkl覺 olursa)
          # 'changes=true' 癟覺kt覺s覺n覺 ayarla
          git diff --quiet . || echo "changes=true" >> $GITHUB_OUTPUT

      - name: Deiiklikleri Commit Et ve PR Olutur
        if: steps.check_changes.outputs.changes == 'true'
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
           REPO_OWNER: ${{ github.repository_owner }}
           REPO_NAME: ${{ github.event.repository.name }}
           BASE_BRANCH: master # veya main
        run: |
          echo "Deiiklikler bulundu, commit ediliyor ve PR oluturuluyor..."
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add .

          # Commit olutur
          git commit -m "ci: Otomatik domain g羹ncellemesi " -m "Workflow taraf覺ndan tespit edilen domain deiiklikleri uyguland覺."

          BRANCH_NAME="auto-domain-update-${{ github.run_id }}"
          git checkout -b $BRANCH_NAME

          git push origin $BRANCH_NAME --force

          echo "Pull Request oluturuluyor..."
          curl -X POST -H "Authorization: token $GITHUB_TOKEN" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/repos/$REPO_OWNER/$REPO_NAME/pulls \
            -d @- <<EOF
          {
            "title": "ci: Otomatik Domain G羹ncellemesi ",
            "head": "$BRANCH_NAME",
            "base": "$BASE_BRANCH",
            "body": "Workflow taraf覺ndan tespit edilen domain deiiklikleri uyguland覺.\n\nL羹tfen deiiklikleri g繹zden ge癟irin ve onaylay覺n."
          }
          EOF
          echo "Pull Request oluturuldu."
